@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  box-sizing: content-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  width: 100%;
  height: 100%;

  color: whitesmoke;
  font-size: 30px;
}

#location {
  font-size: 60px;
  color: rgb(255, 213, 75);
}

#search-text {
  border: none;
  border-radius: 0.4em;
  padding: 0.25em 0.5em;

  font-size: 30px;

  background-color: #555;
  color: whitesmoke;
}

#search-btn {
  border: none;
  border-radius: 0.4em;
  padding: 0.25em 0.5em;

  font-size: 30px;
  
  background-color: #555;
  color: whitesmoke;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

#weather {
  display: flex;
  align-items: center;
}

#weather-temp {
  padding-top: 10px;
}

#weather-icon {
  user-select: none; 
}

#weather-text {
  color: whitesmoke;
  font-size: 30px;
  padding-top: 10px;
  text-transform: capitalize;
}

.bg-night {
  background-color: rgb(10, 21, 41);
}

.bg-day {
  background-color: rgb(133, 176, 255);
}

.sun {
  position: absolute;
  left: 50px;
  top: 20px;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(255, 204, 38);
}

.moon {
  position: absolute;
  left: 50px;
  top: 20px;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(255, 251, 213);
}
